@import "https://fonts.googleapis.com/earlyaccess/notosansjapanese.css";
body {
    font-family: "Noto Sans Japanese";
    background: #fcffff;
}

.container {
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
    text-align: center;
}


/* For TopPage */

.day {
    display: block;
    border-bottom: 1px solid black;
}

.day p {
    font-size: 1em;
}

.day p.title {
    text-indent: 1em;
    font-size: 1.5em;
}


/* For Daily Pages*/

p {
    margin-bottom: 0.5em;
}

.info {
    text-align: center;
}

.info h1 {
    display: inline-block;
    border-bottom: 1px solid black;
    color: black;
    padding: 10px;
    font-size: 3.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.info .buttons {
    text-align: right;
}

.daily p {
    text-indent: 1em;
}

.daily h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.daily h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.daily h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
